body {
  background-color: #D8DBE2;
  margin: 0;
}

*{
  box-sizing: border-box;
  font-family: monospace;
}

.nav {
  display: flex;
  background-color: #A9BCD0;
  color: #373F51;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  
}

.button-active {
  margin-bottom: 50em;
  margin-left: 35em;
  color: #A9BCD0;
  background-color:#1B1B1E;
  width: 10em;
  border-radius: 3%;
  
  
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #373F51;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  
}

.nav a .button-text {
  margin-left: 0.5em;
}

.site-title {
  font-size: 25pt;
}


.nav li.active {
  background-color: red;
}
.nav li:hover {
  background-color: #aaadb3;
  border-radius: 10%;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  text-decoration: underline;
}



.image-header {
  margin-top: 2em;

}
.img {
  width: 6.5em;
}

.logo-container {
  display: flex;
  margin-left: 65em;
}

.icon-container {
  align-content: center;
  margin-right: 66em;

}

.form-container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.box-style {
  background-color: #373F51;
}



.header-style {
  text-align: center;
  
  background-color: #1B1B1E;
  color: #A9BCD0;
  margin-right: 30em;
  margin-left: 30em;
  border: 3px #58A4B0;
  border-radius: 3px;
}

.current-guess-styling {
  text-align: center;
  color: #A9BCD0;
  background-color: #1B1B1E;
  font-size: 2em;
  margin-right: 25em;
  margin-left: 25em;
  border-radius: 0.2143em;

}

.letters-wrong-styling {
  margin-top: 2em;
  text-align: center;
  color: #A9BCD0;
  background-color: #1B1B1E;
  font-size: 2em;
  margin-right: 25em;
  margin-left: 25em;
  border-radius: 0.5143em;
  background-color: black;

}

.winner-message {
  margin-left: 100em;
  margin-top: -0.025em;
  margin-right: 0.1em;
  border-radius: 0.5143em;
  color: black;
  font-family: monospace;
  
}

.loser-message {
  margin-left: 25em;
  margin-top: -8em;
  border-radius: 0.5143em;
  color: black;
  font-family: monospace;
}



.flex-container {
  display: flex;
	align-items: center;
}

.solution-length {
  text-align: center;
  margin-top: 5em;
  font-size: 2em;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
  
  
}
/*original coloring: border: #bbb*/
/*custom color codes for project: #D8DBE2 #A98CDO #58A4BO #373F51 #1B1B1E*/

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 3px solid #A9BCD0 ;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  border-radius: 3%
}

.row > div.green {
  background: #5ac85a;
  border-color: #5ac85a;
}
.row > div.grey {
  background: #a1a1a1;
  border-color: #a1a1a1;
}
.row > div.yellow {
  background: #e2cc68;
  border-color: #e2cc68;
}